.infra-card {
  @apply rounded-lg shadow-md transition-all duration-300;
}

.infra-card:hover {
  @apply shadow-xl transform -translate-y-1;
}

.card-header {
  @apply flex items-center gap-3 text-white py-2 px-4 rounded-t-lg font-bold;
}

.sub-card {
  @apply bg-slate-50 rounded-lg border-2 transition-shadow hover:shadow-md;
}

.sub-card-header {
  @apply flex items-center gap-3 font-bold p-3 border-b-2;
}

.list-item {
  @apply bg-white border border-slate-200 p-2 rounded-md text-sm flex items-center;
}

.api-card {
  @apply bg-slate-50 border-2 rounded-lg p-3 text-center transition-all hover:shadow-lg hover:bg-white;
}

.api-card-title {
  @apply font-bold text-xs;
}